name: Node.js CI
on: [push, pull_request]

jobs:
  test:
    if: contains(github.ref, 'refs/tags/') == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [24.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: pnpm install
      - name: Check Types
        run: pnpm run typecheck
      - name: Test
        run: pnpm run test
