name: Publish Package
on:
  release:
    types: [published]

env:
  NODE_VERSION: 24.x

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - name: Install packages
        run: pnpm install
      - name: Publish to NPM
        run: npm publish --provenance --access public
